/**
 *     Developer:  Sovgut Sergey
 *     Teplate:    Store Yii2
 *     Theme:      Dashboard
 *
 *     1   Product page
 *     1.1 Main Colors
 *     1.2 Row Container
 *     1.3 Column Containers
 *     1.4 Left Container Items
 *     1.5 Right Container Items
 *     1.6 Collapsed
 *
 *     2   Dashboard
 *     2.1 Root
 *
 */

 @import url('https://fonts.googleapis.com/css?family=Didact+Gothic&subset=cyrillic');

/* 1.1 Main Colors */
:root 
{
      --store-background:           #ebebeb;
      --store-app:                  white;
      --store-app-background:       #f9f9f9;
      --store-theme:                #13ea8c;
      --store-theme-transparent:    #13ea8d85;
      --store-font:                 rgb(50, 50, 50);
}
/*====================================*/

/* 1.2 Row Container */
.store-row
{
      position: relative;
      background-color: var(--store-app-background);
      min-height: calc(100vh - 20px);
}
/*====================================*/

/* 1.3 Columns Container */
.store-column-left
{
      transition: all 200ms;
      float: left;
      width: 200px;
      box-sizing: border-box;
      height: calc(100vh - 20px);
      margin: 0;
}

.store-column-right
{
      transition: all 200ms;
      float: right;
      width: calc(100% - 200px);
      box-sizing: border-box;
      margin: 0;
}
/*====================================*/

/* 1.4 Left Container Items */

.store-sidebar 
{
      background-color: var(--store-app);
      border-right: 1px solid rgb(240, 240, 240);
      position: relative;
      overflow: hidden;
}

.store-sidebar ul a,
.store-sidebar ul div 
{
      transition: all 200ms;
      width: 100%;
      background-color: var(--store-dark-gray-0);
      padding: 17px;
      color: var(--store-light-gray-1);
      text-decoration: none;
      font-size: 2rem;
      position: relative;
}

.store-sidebar ul a:hover i,
.store-sidebar ul div:hover i
{
      opacity: 1;
}

.store-sidebar ul a p,
.store-sidebar ul div p
{
      padding: 0px;
      margin: 0px;
      font-size: 1rem;
      white-space: nowrap;
      position: relative;
}

.store-sidebar ul a p span
{
      position: absolute;
      top: 4px;
      right: 0;
      background-color: var(--store-background);
      color: var(--store-font);
}

.store-sidebar ul a i,
.store-sidebar ul div i
{
      padding: 0px;
      margin: 0px;
      font-size: 1rem;
      white-space: nowrap;
      opacity: .25;
      transition: all 200ms;
}

.store-sidebar ul a.active i
{
      opacity: 1;
}

.store-sidebar ul a.active::after
{
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 2px;
      height: 100%;
      background-color: var(--store-theme);
}

.store-sidebar ul a i,
.store-sidebar ul div i 
{
      float: left;
      margin-right: 10px;
      padding: 2px;
}

.store-sidebar ul div:last-child
{
      position: absolute;
      cursor: pointer;
      bottom: 0;
}

.store-sidebar ul a:first-child
{
      color: var(--store-font);
      font-weight: bolder;
      padding: 0 15px;
      text-decoration: none;
      height: 54px;
}

.store-sidebar .list-group-item:last-child 
{
      border-radius: 0;
}
/*====================================*/

/* 1.5 Right Container Items */
.store-column-right .navbar 
{
      display: block;
}
.store-column-right .input-group .disabled 
{
      display: none;
}

.store-column-right .input-group .form-group
{
      margin-bottom: 0;
}

.store-column-right .input-group .store-input
{
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
}

.store-column-right .title 
{
      padding: 0;
      margin: 0;
      font-size: 1.6rem;
      font-weight: bold;
      color: var(--store-dark-gray-0);
}
.store-column-right .navbar .dropdown 
{
      float: right;
}
.store-column-right > .container-fluid
{
      padding: 0;
      overflow-y: scroll;
      max-height: calc(100vh - 174px);
      min-height: calc(100vh - 174px);
}
.store-column-right .container-fluid::-webkit-scrollbar
{
      width: 10px;
      height: 10px;
      background: var(--store-medium-gray-0);
}

.store-column-right .container-fluid::-webkit-scrollbar-thumb
{
      transition: all 200ms;
      background: var(--store-medium-gray-1);
}
.store-column-right .container-fluid::-webkit-scrollbar-thumb:hover
{
      background: var(--store-dark-gray-0);
}

/*====================================*/

/* 1.6 Collapsed */
.store-column-right.collapsed
{
      width: calc(100% - 55px);
}

.store-sidebar ul a p.collapsed,
.store-sidebar ul div p.collapsed
{
      width: 0px;
      opacity: 0;
}

.store-sidebar ul > a.collapsed
{
      height: 0px !important;
      padding: 0px !important;
      margin: 0px !important;
      font-size: 0px !important;
}

.store-sidebar ul div:last-child > i.collapsed
{
      transform: rotate(180deg);
}

.store-column-left.collapsed
{
      width: 55px;
}

/*====================================*/


.dashboard-root
{
      padding: 10px;
      background-color: var(--store-background);
      font-family: 'Didact Gothic', system-ui;
}

.dashboard-app
{
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 3px 10px rgba(0, 0, 0, .25);
}

.dashboard-navbar
{
      padding: 25px;
}

.dashboard-navbar-container
{
      background-color: var(--store-app);
      padding: 25px;
      border-radius: 5px;
      box-shadow: 0 3px 10px rgb(0, 0, 0, .15);
}

.btn-store
{
      background: none;
      border: 1px solid rgb(240, 240, 240);
      color: var(--store-font);
}

.btn-store:hover 
{
      
      color: var(--store-theme);
}

.btn-store:focus 
{
      background: var(--store-app-background);
      box-shadow: none;
      border-color: var(--store-theme);
}

.store-input
{
      border: 1px solid rgb(240, 240, 240);
      color: var(--store-theme);
}

.store-input:focus
{
      box-shadow: none;
      border-color: var(--store-theme);
}

.store-input + .help-block
{
      position: absolute;
      width: 500px;
      color: red;
      right: calc(100% + 10px);
      padding: 13px;
      height: 50px;
      top: calc(50% - (50px / 2));
      font-size: 1rem;
      text-align: right;
}

.fadein
{
      animation-name: FadeAppIn;
      animation-duration: .5s;
      animation-iteration-count: 1;
      animation-timing-function: ease-in-out;
}

.fadeout
{
      opacity: 0;
      animation-name: FadeAppOut;
      animation-duration: .5s;
      animation-iteration-count: 1;
      animation-timing-function: ease-in-out;
}

@keyframes FadeAppIn
{
      from {
            opacity: 0;
            transform: scale(0.8);
      }
      to {
            opacity: 1;
            transform: scale(1);
      }
}

@keyframes FadeAppOut
{
      from {
            opacity: 1;
            transform: scale(1);
      }
      to {
            opacity: 0;
            transform: scale(0.8);
      }
}