/**
 *     Developer:  Sovgut Sergey
 *     Teplate:    Store Yii2
 *     Theme:      Dashboard
 *
 *     1. Main Colors
 *     2. Row Container
 *     3. Column Containers
 *     4. Left Container Items
 *     5. Right Container Items
 *     6. Collapsed
 */

/* 1. Main Colors */
:root 
{
      --store-light-gray-0:   #F5F7FA;
      --store-light-gray-1:   #E6E9ED;
      --store-medium-gray-0:  #CCD1D9;
      --store-medium-gray-1:  #AAB2BD;
      --store-dark-gray-0:    #656D78;
      --store-dark-gray-1:    #434A54;

      --black-light: #333333;
      --green-light:rgb(19, 234, 140);
}
/*====================================*/

.navbar{

}
.navbarContent .fas{
      font-size: 1.2em;
      color: #fff;
}
.navbarContent .navbar .nav-link:hover,
.navbarContent .fas:hover{
     color: var(--green-light);
}

.form-inline a{
 margin-right: 20px;
}
.navbarContent ,
.navbarContent .navbar{
      background:var(--black-light);
}
.navbarContent .navbar{
      padding: 10px 0;
}

.navbarContent .navbar .nav-link{
      padding-left: 0;
      margin-right: 30px;
      color: #fff;
}

/*blackout photo*/
.blackout::before{
      content: '';
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0,0.5);
}


.fix-height{
      height: 100%;
}

/*2. Last Menu */
/*====================================*/
.categiresBlock , 
.tegsBlock{
      padding: 20px;
      margin-bottom: 40px;
      background: var(--store-light-gray-0);
}
.categiresBlock .nav ,
.tegsBlock .nav

{
      margin-left: 20px;
     
}



/*====================================*/

.priceRenge{
      margin-bottom:20px;
}
.priceRenge label {
      width: 50px;
}
.priceRenge input{
      width: calc(100% - 60px);
}


